#sub{
    position:relative;
    left:49px;
    bottom:15px;
    
}
#output{
    position:relative;
    top:23px;
    right:125px;
}
#ad{
    position:relative;
    top:6px;
}
#multi{
    position:relative;
    left:120px;
    bottom:38px;
}
#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #0088cc;
  }
  
  .contact:hover {
    text-decoration: underline;
  }  