#sub{
    position:relative;
    left:49px;
    bottom:15px;
    
}
#total{
    font-size:14px;
    font-weight: bold;
    position:relative;
    bottom:14px;
}
#output{
    position:relative;
    top:38px;
    right:65px;
    visibility: visible;
    font-size:14px;
    font-weight: bolder;
    margin-top:2px;
}
#ad{
    position:relative;
    top:6px;
}
#multi{
    position:relative;
    left:120px;
    bottom:38px;
}
#fixed{
    position:sticky;
}
